{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Home page for the Visual Studio Code Flask tutorial.</p>
<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
  <input type=file name=file accept="image/*">
  <input type=submit value="Create Playlist">
  {% if fileAdded %}
  <div id="submit_playlist">
    <input name="playlist_name" type=text placeholder="Playlist Name">
    <input name="save_playlist" type=submit value="Add Playlist">
  </div>
  {% endif %}
</form>
{{success}}

{% for artist, track in artist_track.items() %}
{{ artist }} : {{ track }}
{% endfor %}

{% endblock %}